.site {
  header {
    grid-area: header;
  }

  main {
    grid-area: main;
    color: $black;

    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 20px auto;

    @media (min-width: 576px) {
      max-width: 540px;
    }

    @media (min-width: 768px) {
      max-width: 720px;
    }

    @media (min-width: 992px) {
      max-width: 960px;
    }

    @media (min-width: 1200px) {
      max-width: 1140px;
    }
  }

  footer {
    grid-area: footer;
    background-color: #4e555b;

    hr{
    height: 1px;
    border: 0;
    border-top: 1px solid #fff;
    padding: 0;
    }


    .foot1{
      display : grid;
      grid-template-columns: auto auto auto;
      grid-template-rows : auto auto auto;
      grid-template-areas: "f_contact f_propos f_networks";
      padding: 20px 0;


      hr{
        color: red;
      }

      .f_contact{
        grid-area: f_contact;
        display : grid;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "f_cont" "f_add" "f_bat" "f_mail";



        padding-top : 15px;

        .f_cont{
          grid-area: f_cont;
          padding-bottom : 10px;
        }

        .f_add{
          grid-area: f_add;
          font-size: 14px;
          padding-left: 2px;

        }

        .f_bat{
          grid-area: f_bat;
          font-size: 14px;

        }

        .f_mail{
          grid-area: f_mail;
          font-size: 14px;

          a{
            color : dodgerblue;
            text-decoration: none;
          }

          a:hover{
            color : #e9780e;
          }

        }
      }
      .f_propos{
        grid-area: f_propos;
        display : grid;
        grid-template-rows: auto auto auto;
        grid-template-areas: "f_cont" "f_apropos" "f_aide";

        padding-top : 15px;

        a{
          text-decoration: none;
          color : white;
        }

        a:hover {
          color: #e9780e;
        }

        .f_cont{
          grid-area: f_cont;
          padding-bottom : 10px;
        }

        .f_apropos{
          grid-area: f_apropos;

        }

        .f_aide{
          grid-area: f_aide;
        }


      }
      .f_networks{
        grid-area: f_networks;
        display : grid;
        grid-template-columns: auto auto auto ;
        grid-template-rows: auto auto;
        grid-template-areas: "f_follow f_follow f_follow" "f_facebook f_instagram f_twitter";

        padding-top : 15px;

        .f_follow{
          grid-area : f_follow;
        }

        .f_facebook{
          grid-area : f_facebook;

          a {
            color :white;
          }

          a:hover {
            color :	#3a5998;
          }
        }

        .f_instagram{
          grid-area : f_instagram;

          a {
            color :white;
          }

          a:hover {
            color : #d62976;
          }
        }

        .f_twitter{
          grid-area : f_twitter;

          a {
            color :white;
          }

          a:hover {
            color : #1da1f2;
          }

        }


      }
    }

    .foot2{
      display : grid;
      grid-template-columns: auto auto;
      grid-template-areas: "f_cpr f_cprnames";
      padding-bottom: 25px;

      .f_cpr{
        grid-area : f_cpr;
        font-size : 13px;
      }

      .f_cprnames{
        grid-area : f_cprnames;
        text-align: right;
        font-size : 13px;
      }


    }




  }

  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
}
