<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Brocante{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="site">
    <header>
        {% include '_header.html.twig' %}
    </header>

    <main>
        {% block body %}{% endblock %}
    </main>

    <footer>
        {% include '_footer.html.twig' %}
    </footer>
</div>

{{ encore_entry_script_tags('app') }}
{% block javascripts %}{% endblock %}
</body>
</html>
