<div class="foot1 container">
    <div class="f_contact">
        <div class="f_cont">
            Contact
        </div>
        <div class="f_add">
            <i class="fa fa-map-marker"></i>
            43 Bd du 11 novembre 1918 - 69622 Villeurbanne Cedex
        </div>
        <div class="f_bat">
            <i class="fas fa-home"></i>
            Bâtiment Nautibus
        </div>
        <div class="f_mail">
            <i class="fa fa-envelope"></i>
            E-mail :
            <a href="mailto:bbroc.pro@gmail.com">bbroc.pro@gmail.com</a>
        </div>
    </div>
    <div class="f_propos">
      <div class="f_cont">
          Liens utiles
      </div>
        <div class="f_apropos">
          <i class="fas fa-user-tie"></i>
            <a href="{{path('mon-compte')}}"> Mon compte </a>
        </div>
        <div class="f_aide">
          <i class="far fa-question-circle"></i>
            <a href="/">Aide</a>
        </div>
    </div>
    <div class="f_networks">
      <div class="f_follow">
        Suivez-nous !
      </div>

      <div class="f_facebook">
        <a href="https://www.facebook.com/BBroc-403132543815898" target="_blank"><i class="fab fa-facebook-square fa-3x"></i></a>
      </div>
      <div class="f_instagram">
        <a href="https://www.instagram.com/bbroc.pro/" target="_blank"><i class="fab fa-instagram fa-3x"></i></a>
      </div>
      <div class="f_twitter">
        <a href="https://twitter.com/BbrocB" target="_blank"><i class="fab fa-twitter-square fa-3x"></i></a>
      </div>
    </div>

</div>

<hr class="container"/>

<div class="foot2 container">
    <div class="f_cpr">
      B'Broc © 2018-2019 - Tous droits réservés
    </div>
    <div class="f_cprnames">
      DE ALMEIDA Gabriel & MASSET Zoé & PHAN Hoang Nam
    </div>
</div>
